@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  text-align : right;
  background-color: black;

}
canvas {
	width:90%; 
	height:96%; 
	margin:0px;
	display: block;
	font-family: bold 44px Arial;
}


#ui{
   position: relative;
   height: 60%;
   width:50%; 
}